<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>yunac</title>
</head>

<body>
    <div id="root"></div>
    <script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=s3zmkOOktGC27LveKQGSdFWlRrOVv58L"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script src="/bundle.js" type="text/javascript"></script>
</body>

</html>