<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		智启云官网
	</title>
</head>

<body>
	<div id="root"></div>
	<script type="text/javascript" src="/homepage/bundle.js"></script>
</body>

</html>