<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		智启云官网
	</title>
	<link href="/homepage/style.css" rel="stylesheet">
</head>

<body>
	<div id="root"></div>
	<script type="text/javascript" src="/homepage/vendor.bundle.js"></script>
	<script type="text/javascript" src="/homepage/main.bundle.js"></script>
</body>

</html>